/**{
    border:  1px solid red !important;
}*/

body {
    text-align: center;
    background: #F4E9AD;
}
.headline {
    font-family: 'Chewy', cursive;
    margin: 0;
    color: #cc003d;
    font-size: 40px;
    text-transform: uppercase;
    font-style: bold;
}
#gameArea {
    left: 30%;
    top: 5%;
    position: absolute;
}
/*statsPanel */

#statsPanel {
    -webkit-flex;
    /* Safari */
    
    -webkit-align-items: center;
    /* Safari 7.0+ */
    
    display: flex;
    flex-direction: row;
    color: #53284c;
    font-size: 20px;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 6%;
    bottom: 0;
    opacity: 1;
}
#gameOver {
    border-radius: 10px;
    visibility: hidden;
    background: #EFDAE9;
    left: 30%;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 45%;
}
h2 {
    color: red;
}
button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background: #3ad43d;
    font-color: #000000;
    text-align: center
}